/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

  
h1
  color: #000000

html
  font-size: 16px

body
  line-height: 1.5
  letter-spacing: 0.7px
  font-size: 1rem
  margin: 0
  padding: 0
  outline: 0
  border: 10px
  font-family: 'Roboto Condensed', sans-serif
  font-weight: 300
  border-bottom-color: #000000
  border-bottom: 25px solid

header
  margin: 0
  padding: 0

main
  letter-spacing: 0.5px
  font-size: 1.10rem