$border-radius: 0.1rem;
@import "bootstrap/scss/bootstrap.scss";

.btn-shadow {
  padding: .2rem .5rem;
  width: fit-content;
  box-shadow: .4rem .3rem #333;
  box-sizing: border-box;
  transition: all 50ms;
  &:hover, &:focus {
    box-shadow: .5rem .4rem #333;
  }
  &:active {
    box-shadow: .2rem .2rem #333;
    transform: translate(.2rem, .1rem);
  }
}

.btn-outline-dark {
  border: 2px solid #333;
}

.btn-outline-dark.btn-shadow {
  background-color: unset !important;
  color: #333 !important;
}

.card {
  border: 2px solid !important;
  box-shadow: .5rem .4rem #333;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  background-color: #eee;
}

main {
  letter-spacing: 0.5px;
  font-size: 1.10rem;
}

img {
  border-radius: .25rem;
}

figure.wp-block-image {
  img {
    max-width: 100%;
    height: auto;
  }
}
