@tailwind base;
@tailwind components;
@tailwind utilities;

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/roboto-v30-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-v30-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

strong,
b {
  font-weight: bold !important;
}

.btn {
  display: block;
  cursor: pointer;
}

.btn-shadow {
  padding: 0.2rem 0.5rem;
  width: fit-content;
  box-shadow: 0.4rem 0.3rem #333;
  box-sizing: border-box;
  transition: all 50ms;
}

.btn-shadow:hover,
.btn-shadow:focus,
.btn-shadow:focus-visible {
  box-shadow: 0.5rem 0.4rem #333;
}
.btn-shadow:active {
  box-shadow: 0.2rem 0.2rem #333;
  transform: translate(0.2rem, 0.1rem);
}

.btn-outline-dark {
  border: 2px solid #333;
}

.btn-outline-dark.btn-shadow {
  background-color: inherit !important;
  color: #333 !important;
}

.card {
  border: 2px solid !important;
  box-shadow: 0.5rem 0.4rem #333;
  background-color: #fff;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #eee;
}

main {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

img {
  border-radius: 0.1rem;
  max-width: 100%;
}

figure.wp-block-image img {
  max-width: 100%;
  height: auto;
}

header {
  .dropdown {
    display: flex;
    justify-content: center;
    position: relative;

    &.dropdown-header {
      display: flex;
      justify-content: center;
    }

    .dropdown-label:not(:focus):not(:focus-within)
      + .dropdown-menu:not(:focus):not(:focus-within) {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
    }

    .dropdown-menu {
      top: calc(100% - 0.5rem);
      max-width: calc(100% + 2rem);
      min-width: 8rem;
      box-sizing: border-box;
      position: absolute;
      background-color: #fff;
      z-index: 2;

      .dropdown-item {
        display: block;
        padding: 0.3rem 0.5rem;
        word-wrap: break-word;
        white-space: normal;
        &:not(:last-child) {
          border-bottom: 1px solid #444;
        }
        &:focus {
          outline: 4px solid #444;
          border: none;
        }
      }
    }
  }
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoMenu {
  top: 6rem;
}

.sideMenuWrapper {
  > .btn:not(:focus):not(:focus-within)
    + .sideMenu:not(:focus):not(:focus-within) {
    right: -100%;
  }

  #menuToggle:checked ~ .sideMenu {
    right: 0;
}
  #menuToggle:not(:checked) ~ .sideMenu {
    right: -100%;
  }


  .sideMenu {
    top: 8.8vh;
    right: -100%;
    position: fixed;
    height: 91.2vh;
    width: 20rem;
    max-width: calc(100vw - 2rem);
    right: 0;
    background-color: #fff;
    transition: right 500ms ease;
    z-index: 2;

    .dropdown {
      display: block;

      .dropdown-menu {
        position: relative;
      }
    }
  }
}

section.layout header {
  position: sticky;
  top: 0;
  z-index: 9000;
}

space-status {
  display: block;
  border: 2px solid !important;
  box-shadow: 0.5rem 0.4rem #333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  background-color: #fb7185;
  &.open {
    background-color: #4ade80;
  }
  &:not(.rendered) {
    display: none;
  }
}

.markdown {
  a {
    text-decoration: underline;
    color: #0369a1;
  }
  ul {
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    list-style-type: disc;
    list-style: disc;
    ul {
      margin: 0 1rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  img {
    @apply my-2;
  }

  p {
    @apply my-2;
  }
}

.pagination {
  display: flex;
  width: fit-content;
  box-shadow: 0.4rem 0.3rem #333;

  .page-item {
    display: block;
  }

  .page-link {
    @apply px-3 py-1;
    border: 1px solid #444;
    background-color: #eee;
  }
}
